@use "sass:color";

// 变量测试
$primary-color: #3498db;
$secondary-color: #2ecc71;

.header {
  width: 100%;
  background-color: color.adjust($primary-color, $lightness: 30%);

  // 伪类测试
  &:hover {
    background-color: color.adjust($primary-color, $lightness: -10%);
  }
}
