/* src/style/FieldConfigPanel.css */
.field-config-panel {
  width: 356px;
  height: 100%;
  overflow-y: auto;
}

.field-config-panel .ant-card-body {
  padding: 24px;
}

.field-config-panel .ant-form-item:last-child {
  margin-bottom: 0;
}
