/* postcss-oreset-env 编译时可以转化 */
:root {
  --main-bg-color: lightblue;
  --main-text-color: darkblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: var(--main-text-color);
  height: 100vh;

  div {
    width: 240px;
    padding: 12px;
    border: 1px solid var(--main-text-color);
    border-radius: 8px;
  }
}
